extends ../layout

block content
  a(href='/usuarios') Volver
  
  br
  br
  
  h1 Nuevo Usuario
  
  br
  br
  
  img#top(src='/images/top.png' alt='')
  #form_container
    h1
      a Nuevo Usuario   
    form#form_114776.appnitro(action='/usuarios/create' method='post')
      .form_description
        h3 Nuevo Usuario 🙋‍♂️ 
        p Ingrese los datos correspondientes al nuevo usuario.
      ul
        li#li_1
          label.description(for='name') Nombre: 
          div
            input#element_1.element.text.small(name='name' type='text' maxlength='255' value= usuario.nombre class= errors.nombre ? 'is-invalid' : '')
            if errors.nombre
              small#nombreHelp.text-danger
                  = errors.nombre
        li#li_2
          label.description(for='mail') Email: 
          div
            input#element_2.element.text.medium(name='mail' type='text' maxlength='255' value= usuario.email class= errors.email ? 'is-invalid' : '')
            if errors.email
              small#emailHelp.text-danger
                  = errors.email.message
        li#li_3
          label.description(for='pass') Password 
          div
            input#element_4.element.text.medium(name='pass' type='password' maxlength='255' value='' class= errors.password ? 'is-invalid' : '')
            if errors.password
              small#passwordHelp.text-danger
                  = errors.password.message
        li#li_4
          label.description(for='confirmPass') Confirmar Password 
          div
            input#element_3.element.text.medium(name='confirmPass' type='password' maxlength='255' value='' class= errors.confirm_password ? 'is-invalid' : '')
            if errors.confirm_password
              small#confirm_passwordHelp.text-danger
                  = errors.confirm_password.messag
        li.buttons
          input(type='hidden' name='form_id' value='114776')
          input#saveForm.button_text(type='submit' name='submit' value='Enviar')