extends ../layout

block content
  a(href='/usuarios') Volver
  
  br
  br
  
  h1 Actualizar Usuario
  
  br
  br
  
  img#top(src='/images/top.png' alt='')
  #form_container
    h1
      a Actualizar Usuario   
    form#form_114776.appnitro(action= `/usuarios/${usuario.id}/update` method='post')
      .form_description
        h3 Actualizar Usuario 🙋‍♂️ 
        p Ingrese los datos correspondientes al nuevo usuario.
      ul
          li#li_1
              label.description(for='name') Nombre: 
              div
                input#element_1.element.text.small(name='name' type='text' value= usuario.nombre class= errors.nombre ? 'is-invalid' : '')
                if errors.nombre
                  small#nombreHelp.text-danger
                      = errors.nombre.message
          li.buttons
              input(type='hidden' name='form_id' value='114776')
              input#saveForm.button_text(type='submit' name='submit' value='Enviar')
        
  